.navbar{
    cursor: pointer;
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar ul {
    list-style-type: none;
    overflow: hidden;
    background-color:#2e1a47;
    margin: 0px;
    width: 100%;
}

.navbar li {
    float: left;
}

.navbar a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
